extends layout

block content

  style.
    .card {
      border: none;
    }
    .card-img-top {
      height: 290px
    } 
  .container-lg.overflow-hidden.mt-5
    .row.justify-content-center
      .col-6.col-lg-3.gap-3
        .card
          .p-2
            img.card-img-top.img-fluid(src="https://media.gettyimages.com/id/137996281/photo/blue-t-shirt.jpg?s=2048x2048&w=gi&k=20&c=zwuzc-U0Fpu_gGIkGvbqtX381oKMSeTPyxOBj4v42jk=",  alt="Responsive Image")
          .card-body
            h5.card-title Baju Polos Putih
            p.card-text Some quick example text to build on the card title.
            .mt-1
              p.m-0 Harga
              h6.m-0 Rp. 3000.00
            .float-end.mt-3.mb-2
              span.badge.bg-secondary Sold Out
      .col-6.col-lg-3.gap-3
        .card
            .p-2
              img.card-img-top.img-fluid(src="https://images.unsplash.com/photo-1618354691373-d851c5c3a990?q=80&w=2030&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", alt="Responsive Image")
            .card-body
              h5.card-title 705   T-shirt
              p.card-text Some quick example text to build on the card title.
              .mt-1
                p.m-0 Harga
                h6.m-0 Rp. 3000.00
              .float-end.mt-3.mb-2
                span.badge.bg-secondary Sold Out
      .col-6.col-lg-3.gap-3
        .card
          .p-2
            img.card-img-top.img-fluid(src="https://images.unsplash.com/photo-1618354691321-e851c56960d1?q=80&w=1988&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
          .card-body
            h5.card-title 705 crewneck
            p.card-text Some quick example text to build on the card title.
            .mt-1
              p.m-0 Harga
              h6.m-0 Rp. 3000.00
            .float-end.mt-3.mb-2
              span.badge.bg-secondary Sold Out
      .col-6.col-lg-3.gap-3
        .card
          .p-2
            img.card-img-top.img-fluid(src="https://images.unsplash.com/photo-1491553895911-0055eca6402d?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",  alt="Responsive Image")
          .card-body
            h5.card-title Nike running
            p.card-text Some quick example text to build on the card title.
            .mt-1
              p.m-0 Harga
              h6.m-0 Rp. 3000.00
            .float-end.mt-3.mb-2
              span.badge.bg-secondary Sold Out
      
  
