extends layout

block content

  style.
    .item-wrap {
      color: #1f1f1f;
      text-decoration: none;
    }

    .item-wrap:hover {
      color: inherit;
    }

    .card {
      -webkit-transition: all 100ms ease-in-out;
      transition: all 100ms ease-in-out;
      border: none;
      -webkit-box-shadow: 0 1px 7px rgba(0,0,0,.05);
      box-shadow: 0 1px 7px rgba(0,0,0,.05);
    }
    .card-img-top {
      height: 290px
    } 

    .card:hover {
      transform: scale(1.04);
      border: none;
    }

    .carousel-item {
      position: relative;
    }
    .carousel-item img {
      z-index: 2;
      object-fit:cover;
      top: 0;
      left: 0;
      max-height: 600px;
    }
    
    .product-header__subtitle {
      font-size: 16px;
      max-width: 95%;
      font-weight: 500;
      font-style: italic;
      color: #9c9b9b;
    }
    
    .product-header__title {
      margin-bottom: 0.2em;
      font-size: 2rem;
      line-height: 1.15;
      color: #393939;
    }

    @media(max-width:1180px) {
     
    }

    @media(max-width:980px) {
      .card-img-top {
        height: 150px; /* Sesuaikan tinggi gambar sesuai kebutuhan */
        object-fit: cover; /* Hindari terjadinya distorsi pada gambar */
      }

      .card {
        max-height: none; 
      }

      .card-body {
        max-height: 150px;
        overflow: hidden;
      }

      h5.card-title {
        font-size: 0.6rem;
      }

      p.card-text {
        font-size: 0rem;
      }

      .mt-1 {
        font-size: 0.8rem;
      }

      h6.m-0 {
        font-size: 1rem;
      }
    }

  section#hero
    .container-lg.overflow-hidden.mt-5
      #carouselExampleSlidesOnly.carousel.slide(data-bs-ride="carousel")
        .carousel-inner
          .carousel-item.active
            img.d-block.w-100(src="/images/product/item-1/2.png", alt="...")
          .carousel-item
            img.d-block.w-100(src="/images/product/item-1/4.png", alt="...")
          .carousel-item
            img.d-block.w-100(src="/images/product/item-1/3.png", alt="...")
    section.mt-5#product
      .product-header.my-5
        .product-header__content
          .container
            h3.product-header__title.
              Our Product Catalog
            h5.product-header__subtitle.
              Your number #1 online source for authentic items and services.
            .row.justify-content-start.mb-5
              each item in data.product
                .col-5.col-lg-4.gap-3
                    .card.mb-2
                      a(href=`/detail/${item.uuid}`, class="item-wrap")
                        .p-2
                          img.card-img-top.img-fluid(src=`${item.img}`,  alt="Responsive Image")
                        .card-body
                          h5.card-title=item.name
                          //- p.card-text=item.desc
                          .mt-1
                            p.m-0 Harga
                            h6.m-0= "Rp." +item.price
                