body {
  /* padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: 'Poppins', sans-serif;
}

a {
  color: #00B7FF;
}

.pd-wrap {
	/* padding: 40px 0; */
	font-family: 'Poppins', sans-serif;
}

.heading-section {
	margin-bottom: 20px;
}

.product-thumb .item img {
	max-height: 150px !important;
}

.owl-carousel {
  border: none;
}

.owl-carousel .owl-item img {
  /* height: 700px; */
  max-height: 700px;
}

.tabs .tab-content .tab-pane {
	padding: 30px 20px;
	font-size: 15px;
	line-height: 24px;
	color: #7a7a7a;
}

.e-icon{
  height: 16rem;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  border: none;
  -webkit-box-shadow: 0 1px 7px rgba(0,0,0,.05);
  box-shadow: 0 1px 7px rgba(0,0,0,.05);
}


.e-icon .card-body img {
  height: 4rem;
  width: 4rem;
}


.e-icon:hover {
  transform: scale(1.04);
  border: none;
}



@media(max-width:1180px) {
     
}
@media(max-width:980px) {
  .owl-carousel .owl-item img {
    height: 300px;
  }

  .product-thumb .item img {
    height: 80px !important;
  }

  .product-thumb {
    margin-bottom: 10px;
  }

  .e-icon{
    height: 5rem;
  }

  .e-icon .card-body img {
    height: 1.5rem;
    width: 1.5rem;
  }
}


